@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Artifika&family=Courgette&family=Righteous&display=swap');
/*    font-family: 'Abril Fatface', cursive;

    font-family: 'Artifika', serif;

    font-family: 'Courgette', cursive;

    font-family: 'Righteous', cursive;*/
.con1{
    margin: 10px 15px;
    width: 250px;
}

.card{
    border: 3px solid;
    border-radius: 20px;
    
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

img{
    max-width: 210px;
    border-radius: 10px;
}

.content{
    margin-left: 25px;
    font-family: 'Artifika', serif;
}

h3{
    margin: 0px 0px 3px;
    font-size: 24px;
}

.button{
    display: inline-block;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: medium;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    background-color: red;
}

.button i{
    
    margin-left: 10px;
}