<html>
    <head>
    </head>
    <body>
        <h1><u>Customer review about us</u></h1>
        <br>
        <h2><u>veronica p john</u></h2><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dolores eaque? 
            Vitae provident molestiae non fuga, nisi facere ratione adipisci illum laborum sapiente 
            suscipit saepe eum unde, natus et nobis.</p>
            <hr>
            <br>
            <h2><u>veronica p john</u></h2><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dolores eaque? 
                Vitae provident molestiae non fuga, nisi facere ratione adipisci illum laborum sapiente 
                suscipit saepe eum unde, natus et nobis.</p>
            <hr><br>
            <h2><u>veronica p john</u></h2><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dolores eaque? 
                Vitae provident molestiae non fuga, nisi facere ratione adipisci illum laborum sapiente 
                suscipit saepe eum unde, natus et nobis.</p>
        <div class="cons">
            <h1>What are we?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident 
                corrupti suscipit, iusto tenetur nulla sunt earum nesciunt nihil illum distinctio? 
                Nihil, mollitia alias iusto pariatur ducimus tempore magnam labore vel?</p>
        </div>
        <br>
        <ul style="color: black">
            <li><h2>Best consultancy over 20+ states</h2><hr><p>Lorem ipsum, 
                dolor sit amet consectetur adipisicing elit. Pariatur, voluptatibus!</p></li>
            <li><h2>fastest delivery products</h2><hr><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, ad.</p></li>
            <li><h2>Huge trustable agency</h2><hr><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, inventore.</p></li>
        </ul>
        </body>
</html>