<div class="con1">
    <div class="card">
        <div class="content">
            <h2>Description</h2>
            <p>Your hair is an integral part of your personality. It is important to give it the attention and nourishment it deserves. Parachute Advansed Gold strengthens hair by providing deep nourishment with the goodness of pure coconut oil and Vitamin E. The product is made with the highest quality standards, the ingredients are fresh and natural and it has a long-lasting fragrance. It is also free from parabens, sulfates, mineral oil and silicones. With regular use of this product, you can have long, strong and gorgeous hair.</p>
            <hr>
            <h2>Benefits</h2>
                <ul>
                    <li>Parachute Advansed Gold hair oil contains handpicked and pure coconut.</li>
                    <li>It is enriched with vitamin E that takes care of scalp health.</li>
                    <li>It strengthens hair roots.</li>
                    <li>It also reduces hair breakage.</li>
                    <li>It eliminates frizz and dryness.</li>
                    <li>A proper oil massage will increase blood circulation and promote hair growth.</li>
                    <li>It protects your hair from pollution and everyday damage.</li>
                    <li>It has a long-lasting aroma of fresh coconuts.</li>
                </ul>
        </div>
    </div>
</div>