

<html>
    <head>....</head>
    <body>
        <img src="https://th.bing.com/th/id/OIP.GdACyRelN2nqo6gFFEmMTgHaHa?pid=ImgDet&rs=1" >
        <section id="about">
        <div class="about-1">
            <h1>Customers are our first priority</h1>
            <p style="font-family: 'Courier New', Courier, monospace; font-weight: bold; font-size:large;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores deserunt, voluptatum nisi officiis eum, 
                consequatur harum reiciendis veritatis aut fuga architecto pariatur maxime. Molestias magnam et debitis. 
                Error, quis fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatibus,
                 soluta quibusdam libero, reiciendis ea delectus ullam,
                 corrupti repellat eius suscipit. Impedit non mollitia cumque. Consequatur exercitationem hic id veritatis.</p>
        </div>
        <div id="about-2">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                    <div class="col-md-4 " >
                        <div class="about-item text-center">
                            <i class="fa-fa-book"></i>
                            <h1>SAMPLE</h1>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, assumenda sit aspernatur autem 
                                hic odio recusandae similique praesentium nesciunt doloribus enim dignissimos fugiat quidem quae unde?
                                 Facilis sunt vel nesciunt!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa-fa-book"></i>
                            <h1>SAMPLE</h1>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, assumenda sit aspernatur autem 
                                hic odio recusandae similique praesentium nesciunt doloribus enim dignissimos fugiat quidem quae unde?
                                 Facilis sunt vel nesciunt!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa-fa-book"></i>
                            <h1>SAMPLE</h1>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, assumenda sit aspernatur autem 
                                hic odio recusandae similique praesentium nesciunt doloribus enim dignissimos fugiat quidem quae unde?
                                 Facilis sunt vel nesciunt!</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <footer class="text-center">
            <p>Copyright &copy;2021 All rights reserved by friedlt hijn</p>
        </footer>
    </body>
</html>