<div class="con1">
    <div class="card">
        <div class="head">
            Enter Delivery Address for the Order.....
        </div>
        <div class="form1">
            <form>
                <textarea placeholder="Enter your full address....."></textarea><br>
                <input placeholder="Enter City..."/><br>
                <input placeholder="Enter Zipcode..."/><br>
                <input placeholder="Enter State..."/>
            </form>
            <button type="submit">Submit</button>
        </div>
    </div>
</div>