<div class="con1">
    <div class="navbar">
        <div class="left">
            <div id="name">
                Pharmify
            </div>
            <div class="navitems">
                    <a routerLink="\home">Home</a>
                    <a >Shop</a>
                    <a >Blog</a>
                    <a routerLink="/contactus">Contact us</a>
            </div>
        </div>
        <div class="right">
            <app-searchbar></app-searchbar>
            <a routerLink="/signin">Log in</a>
        </div>
    </div>
</div>